
.banner-container {
    height: 100%;
    width: 100vw;
    background-color: var(--banner_bg);
    color: var(--text_home);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-title {
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: bold;
}
.principal{
    width: 100vw;
    height: 100%;
    background: var(--text_home);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
*{
    padding: 0;
    margin: 0;
}
.banner-subtitle {
    margin: 10px 0 0;
    font-size: 30px;
    width: 50%;
    text-align: center;
}



.header_container , .footer_container{
    background: var(--banner_bg);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer_container{
    align-items: flex-start;
}
.footer_container p {
    margin-left: 2em;
}
.graph{
    border: 2px solid var(--banner_bg );
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    margin-top: 1em;
    margin-bottom: 2em;
    background: #d9d9d91e;
}

.graph p {
    padding: 1em;
    color: var(--text_title);
    font-weight: 300;
}
.filtrage .dd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filtrage div label{
    color: var(--text_title);
    font-size: 20px;
    margin-bottom: 0.5em;
}
.filtrage select{
    width: 500px;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    background-color: var(--text_title);
}
.filtrage{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.filtrage a{
    display: flex;
    text-decoration: none;
    color: var(--text_home);
    background-color: var(--text_title);
    width: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    border-radius:5px ;
   font-size: 30px;
}
.hh{
    display: flex;
    flex-direction: row;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 1em;
}

.success {
    color: green;
    font-size: 0.9em;
    margin-top: 1em;
}

.form{
    border: 2px solid var(--banner_bg);
    background: #d9d9d91e;
    border-radius: 30px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text_title);
    font-size: xx-large;
    font-weight: 500;
}

.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form input{
    margin-top: 1em;
}

.form button{
    margin-top: 1em;
    width: 100%;
    background: var(--banner_bg);
    padding: 10px;
    border-radius: 30px;
    font-size: 30px;
}

/**************************************/

.home_bt {
    display: block;
    text-decoration: none;
    background: var(--text_title);
    color: var(--text_home);
    margin-top: 3em;
    font-size: 30px;
    padding: 1em;
    width: 500px;
    text-align: center;
    border-radius: 50px;
    position: relative;
    box-shadow: 6px 6px 0 var(--text_home);
    transition: all 0.3s ease-in-out; /* Pour des transitions douces */
}

.text {
    color: var(--text_home);
    font-weight: 700;
    font-size: 50px;
    position: absolute;
    left: 130px;
    top:0;
}

.fleche {
    position: absolute;
    right: 20px;
    color: var(--text_home);
    font-weight: 500;
    font-size: 80px;
    top:-18px;
    transition: right 0.3s ease-in-out, color 0.3s ease-in-out;
}

.home_bt:hover {
    width: 600px;
    box-shadow: 10px 10px 0 var(--text_home);
}

.home_bt:hover .fleche {
    right: 110px;
}

.home_bt:hover .zero {
    animation: color_anime 1s infinite 0.2s;
}

.home_bt:hover .un {
    right: 60px;
    animation: color_anime 1s infinite 0.4s;
}

.home_bt:hover .deux {
    right: 10px;
    animation: color_anime 1s infinite 0.6s;
}

/* Animations pour les couleurs */
@keyframes color_anime {
    from {
        color: #3D0301;
    }
    50% {
        color: #B03052;
    }
    to {
        color: #D76C82;
    }
}

.success-link{
    background: var(--banner_bg);
    padding: 0.3em;
    border-radius: 30px;
    text-decoration: none;
    color: var(--text_home);
    margin-top: 1em;
    border: #7ED4AD solid 2px;
    transition: ease-in-out 0.2s;
  }
  .success-link:hover{
    background: var(--text_home);
    color: var(--text_title);
  
  }
